.hero {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-top: 100px;
  text-transform: uppercase;
  position: absolute;
  left: 10%;
  top: 20%;
}

.title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.subtitle img {
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.subtitle h1 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.subtitle h1 span {
  color: #a234fd;
}

/*! media queries start  */

/* 768px (tablets) */
@media (max-width: 768px) {
  .hero {
    left: 6%;
  }
  .title {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .subtitle {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  .subtitle h1 {
    font-size: 50px;
  }
}



/* 480px (mobile phones) */
@media (max-width: 480px) {
  /* styles here */
  .hero {
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 30px;
  }

  .subtitle {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .subtitle h1 {
    font-size: 30px;
  }
}
