.team-box {
    background: #18191a;
    width: 310px;
    height: 450px;
    text-align: left;
    color: #fff;
    padding: 30px 15px 15px 15px;
    margin-top: 50px;
}

.team-box__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.team-box__info-job {
    color: gray;
}

.team-box__img {
    width: 100%;
}