.approach-container {
  width: 100%;
  padding: 80px 20px;
  background-color: #141212;
  color: #fff;
}

.approach-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1300px;
  margin: 0 auto;
}

.approach-section__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.approach-section__title {
  line-height: 52px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.approach-section__right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.approach-section__right-img-box {
  width: 100%;
  max-width: 650px;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
}

.approach-section__right_img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  object-fit: cover;
}

/*! Responsive */
@media (max-width: 1024px) {
  .approach-container {
    padding: 80px 40px;
  }

  .approach-section {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .approach-section__title {
    font-size: 34px;
    line-height: 44px;
  }

  .approach-section__right-img-box {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .approach-container {
    padding: 70px 20px;
  }

  .approach-section__title {
    font-size: 30px;
    line-height: 40px;
  }

  .approach-section__right-img-box {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .approach-container {
    padding: 60px 15px;
  }

  .approach-section__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .approach-section__right-img-box {
    height: 250px;
  }
}
