.stat-container {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 250px;
  background: #000c1c;
  border-bottom: 1px solid #FFFFFF0D;
}
